.sign-in-box {
    width: 400px;
    margin: 30px auto;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.sign-in-box a:not(.classic) {
    color: inherit;
    text-decoration: none;
}

.sign-in-box a:not(.classic):hover {
    opacity: 0.8;
    /* text-decoration: underline; */
}

.sign-in-box__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 30px 40px;
}

.sign-in-box__form.--shaking {
    animation: shaking 0.5s;
}

@keyframes shaking {
    10% {
        transform: translate(-8%, 0);
    }

    25% {
        transform: translate(8%, 0);
    }

    40%,
    70% {
        transform: translate(-2%, 0);
    }

    55%,
    85% {
        transform: translate(2%, 0);
    }
}

.sign-in-box__error-message {
    margin: 0;
    margin-bottom: 1em;
    color: var(--color-error, #ec4646);
    font-size: 15px;
    text-align: center;
    line-height: 1;
}

/* =============================================================================
* = .sign-in-box__actions
** ========================================================================== */

.sign-in-box__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 1em 0;
    padding: 0 2px;

    color: #555;
    font-size: 14px;
    line-height: 1;
}

.sign-in-box__top-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px 10px 0;

    color: #555;
    font-size: 14px;
    line-height: 1;
}

/* =============================================================================
* = .sign-in-box__social-entry
** ========================================================================== */

.sign-in-box__social-entry {
    margin-bottom: 20px;
}

.sign-in-box__social-entry-text {
    margin: 0;
    margin-bottom: 18px;
    color: #777;
    font-size: 14px;
    text-align: center;
}

.sign-in-box__social-entry-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
